SECRET_KEY = you_secret_key
DB_NAME  = you_DB_NAME
DB_USER  = you_DB_USER
DB_PASSWORD = you_DB_PASSWORD
DB_HOSTNAME = you_DB_HOSTNAME
DB_PORT = you_DB_PORT

RABBIT_USERNAME = you_RABBIT_USER
RABBIT_PASSWORD = you_RABBIT_PASSWORD
RABBIT_URL = you_RABBIT_URL
RABBIT_PORT = you_RABBIT_PORT
RABBIT_HOST = you_RABBIT_HOST_NAME

SECRET = 'secret json from google'